[2018-08-07 09:40] Garethp opened #4 "Error on startup: 'NoneType' object is not callable"
When I try to start this application, it manages to load the list of channels and chats I have, but then crashed out with the following stacktrace:

[code]

[2018-08-07 10:44] hnb2 opened #5 "Typing "q" while you write a message will close the app"
Hi there, I found a bug while trying out your code, here is what I did in order to reproduce it:

1. `./app.sh`
2. Setup my token
3. Client is loading
4. I select myself in the left column and type `enter`
5. Type `i` to enter insert mode
6. Type in order: `ytrewq`, the app closes right after I type `q`

I'm running Mac OsX with the default Terminal in a tmux session. Let me know if you need more

[2018-08-07 11:02] J-Vaughan commented on #5
Haha this sounds like it would be something I'd miss in one of my projects

[2018-08-07 11:17] fpg1503 opened #6 "Draw custom emojis in terminals that support Sixels"
I see you're using caca to display images but since custom emojis are so small in dimensions I think Sixels would be a better approach

[2018-08-07 11:33] haskellcamargo commented on #6
Caca is used only for attached images. For emojis, [we are currently using this codemap](https://github.com/haskellcamargo/sclack/blob/master/sclack/emoji.py).

[2018-08-07 11:42] #5 closed

[2018-08-07 11:42] haskellcamargo commented on #5
Thank you for reporting! Bugfixed! :beetle:

[2018-08-07 11:45] haskellcamargo commented on #4
Thank you for reporting! This is caused by an issue on Urwid (Asyncio event loop) that doesn't handle correctly the context of an exception after capturing it (and this generates another exception hiding the original one). I will be working on this as soon as possible!

[2018-08-07 11:58] hnb2 opened #8 "Emojis rendering issues"
I'm not sure if there is a pattern or if it is a coincidence but seems like all emojis starting with a special character or a number are not being rendered:

<img width="288" alt="screen shot 2018-08-07 at 3 56 55 pm" src="https://user-images.githubusercontent.com/3678416/43774573-9b66b154-9a5a-11e8-9bb4-783f66545d80.png">

While all the others seems to be rendered properly, even the ones with a d

[2018-08-07 12:06] haskellcamargo commented on #8
Thank you for reporting! The error was reproduced and fixed. It was being caused by a ill-formed regular expression in the markdown component.

[2018-08-07 12:34] hnb2 commented on #8
<img width="216" alt="screen shot 2018-08-07 at 4 33 15 pm" src="https://user-images.githubusercontent.com/3678416/43776003-a2225458-9a5f-11e8-992b-9d9dbc23feac.png">

I think the `:+1:` still does not pass

[2018-08-07 13:17] Garethp commented on #4
Doing a bit of debugging, here's the exception that it's hiding

[code]

[2018-08-07 13:34] fpg1503 commented on #6
I'm talking about [custom emojis](https://get.slack.help/hc/en-us/articles/206870177-Add-custom-emoji) (that are images)

[2018-08-07 15:18] michael-lazar commented on #4
This happened to me too. I found that the original exception was a ``KeyError("members")`` from

https://github.com/haskellcamargo/sclack/blob/8991cb6c69ac9385d139c008ffd6271b38711709/sclack/store.py#L93-L95

The Slack API was returning an *invalid auth* response because I entered in the wrong token the first time that I ran the program

[2018-08-07 15:19] saitoha commented on #6
Consider [Soft character set(DRCS)](https://vt100.net/dec/vt320/soft_characters).
On VT200 or later, [DECDLD](https://vt100.net/docs/vt510-rm/DECDLD.html) sequence can define custom characters.

Recently, this feature is supported by [RLogin](http://nanno.dip.jp/softlib/man/rlogin) and [mlterm](https://sourceforge.net/projects/mlterm/), with two modern extensions.
extension 1. Use unicode plane 15

[2018-08-07 15:40] Garethp commented on #4
I'm not a slack admin, but I was able to generate a token no problem. It's not an Authentication failure because I can see a list of channels and members for a second right before the errors appear, so it's managing to fetch that information

[2018-08-07 17:41] ethanhs opened #10 "Multiple workspaces?"
Hi, first off, awesome app. I am using it through the Windows Subsystem for Linux, and it works spectacularly!

I was hoping to use this with multiple workspaces, so I was wondering if that is/will be supported. I took a quick poke at the code but didn't see anything indicating this would work.

[2018-08-07 17:46] ethanhs opened #11 "Use display name when user posts"
I am in a workspace that has an IRC bridge. The bot will change its display name to the user posting the message when it posts. Currently sclack seems to use the default name, and not the display name. It'd be great to support using display names.

[2018-08-07 19:45] keegancsmith opened #12 "Support iTerm2 image escape sequences"
iTerm2 has extended the xterm protocol to support embedding images in the terminal. This seems like a great use in sclack if supported, instead of ANSI/VT100 rendering. https://www.iterm2.com/documentation-images.html

[2018-08-07 19:58] gholmes commented on #4
I see the same thing, get a list of channels in the left sidebar, then the same stack trace as posted above. I am using a fresh token generated a few minutes ago.

[2018-08-07 21:28] arthurhenrique commented on #8
#13

[2018-08-08 00:07] #8 closed

[2018-08-08 00:33] #11 closed

[2018-08-08 01:36] waisbrot commented on #10
Slacks multiple workspaces aren't very strongly connected. I'd prefer to manage them myself by running a separate instance per workspace in a terminal multiplexer or multi-tab terminal or multiple desktop workspaces. There'd have to be a big improvement over how Slack GUI handles multiple workspaces to make it worthwhile as a feature IMO.

[2018-08-08 02:49] arthurhenrique opened #17 "[GS]et Dynamically Colors from Themes"
Get and set dynamically colors from themes pre stablished.

I have used the Dracula Theme(Zeno Rocha) a lot, and I already configured my slack desktop to use it.
Is this possible load from slack-api this colors theme and put as my default theme?

[2018-08-08 02:50] haskellcamargo commented on #10
Implemented in #16. You can switch contexts running each instance at a time. If you use a single workspace token, nothing should change.

[2018-08-08 02:50] #10 closed

[2018-08-08 03:10] lennartkoopmann commented on #4
Happens to me when I open a specific channel.

[code]

[2018-08-08 03:22] birkir opened #18 "imgcat support"
This is awesome!

Terminals like iTerm2 for mac can render images (even gif) with imgcat, would this be able to support that?

https://www.iterm2.com/documentation-images.html

[2018-08-08 03:50] haskellcamargo commented on #4
In #19, I've overloaded the Asyncio event loop to use the default exception handler, so we can have, at least for now, the original error messages instead of the "error on error" that happens when trying to re-raise an exception. Network errors are predictable due to Slack limits, but an _auto-retry_ feature will be added soon.

[2018-08-08 03:51] haskellcamargo commented on #4
@lennartkoopmann try in the last version. It will give you the real error message, so we can now investigate.

[2018-08-08 03:54] haskellcamargo commented on #17
I don't know a Slack API endpoint that does that thing (I've searched before to do that, but I can reinvestigate). We have a way to write custom themes, however (check `sclack/themes.py`). I believe that it will not be so complex to change the palette dynamically.

[2018-08-08 04:19] tuandm opened #20 "New message is not updated"
Each time I open sclack, it scrolls back to the old position of new message and doesn't sync new stage.

[2018-08-08 06:09] roveo opened #21 "Error on startup in mount_sidebar"
Here's the error:

[code]

[2018-08-08 09:12] Garethp commented on #4
So I've done some more debugging, and here's where my error is: In the first (and therefore default) channel, there's a a "User has joined the channel" message with the User Id. Only problem is that said user doesn't exist in the `store._user_dict`, so `store.find_user_by_id` returns a `None` type in `app.py:269`, and the error then gets thrown when it tries to access the `id` from it in the next

[2018-08-08 11:35] LukyVj opened #24 "env: python3: No such file or directory"
Nice project! I tried to run it, but I ran into this error message: `env: python3: No such file or directory`

Any idea how to fix that? Seems like I cannot find proper resources online to help me out! :)

[2018-08-08 12:26] #24 closed

[2018-08-08 12:26] haskellcamargo commented on #21
It seems like the Slack API has denied the request. This happens often when the same endpoint is requested too many times (Slack API has rating limits). I'll be working on a retry-attempt for requests to handle this kind of issue without breaking the things. Thanks!

[2018-08-08 12:27] LukyVj commented on #24
Fixed by installing Python3+ and using pip3 to install the requirements!

[2018-08-08 12:27] benstiglitz commented on #18
This looks to be the same as #12.

[2018-08-08 12:29] ChrisCallanJr opened #25 "Documentation for install leads to errors"
Hey there, this is small so I figured I would make an issue rather than a pull request. Your instructions for installation via `pip` can lead to some issues upon install. Specifically the line `pip install -r requirements.txt` should be `pip3 install -r requirements.txt` since Python 3.4+ is required. Otherwise, dependencies aren't properly installed.

[2018-08-08 12:33] LukyVj commented on #25
Yeah I ran into a similar issue ( referenced here:https://github.com/haskellcamargo/sclack/issues/24  )

[2018-08-08 12:36] haskellcamargo commented on #12
Yesterday I've been playing around with `imgcat`. It seems really easy to integrate in non-interactive interfaces or interactive interfaces that use the native ANSI escape codes of the terminal. Urwid is a bit specific. As long as I've searched, a custom widget using escape codes would need to use the `urwid.Terminal` widget as base, which provides its own parser for ANSI escapes, so buffering the

[2018-08-08 12:39] haskellcamargo commented on #25
I've changed `pip` to `pip3` on README now. Thank you for reporting!

[2018-08-08 12:39] #25 closed

[2018-08-08 12:45] LukyVj opened #26 "Error: "pile object does not support item assignment""
Whenever I try to access a channel I got this as a response:
![](https://puu.sh/BaLA9/db736529e4.png)

[2018-08-08 12:47] LukyVj commented on #26
I'm not sure how exactly I did that, but seems like I fixed it by checking the open PRs on this repo :)

[2018-08-08 12:47] #26 closed

[2018-08-08 13:00] haskellcamargo commented on #26
It seems like a race condition. `go_to_channel` was called when the chatbox was still a `LoadingChatBox` instead of a `Chatbox`.

[2018-08-08 13:33] Garethp opened #27 "Contacts coming online doesn't appear to update the contact list"
I'm not sure if it's just because of a low polling rate or because it's not set to update, but after a contact came online their status in the side bar didn't update

[2018-08-08 13:44] haskellcamargo commented on #27
There is no subscription for user status for now because they weren't working via Slack RTM the last time I've tried. It is still a TODO for us.
API reference: https://api.slack.com/events/presence_sub

[2018-08-08 13:50] #18 closed

[2018-08-08 14:27] Garethp commented on #27
Thanks

[2018-08-08 14:27] #27 closed

[2018-08-08 14:51] rezonjov opened #29 "CERTIFICATE_VERIFY_FAILED when sending message"
Not sure what happens

![image](https://user-images.githubusercontent.com/129856/43844973-1bd3a43c-9b55-11e8-995c-5ec612a6cf9b.png)

[2018-08-08 16:10] rezonjov commented on #29
forgot to install the certificate. that fixes the issue. closing now

[2018-08-08 16:10] #29 closed

[2018-08-08 16:28] MarcosEich commented on #21
I am also getting an error on startup, maybe it is related.

[code]

[2018-08-08 18:26] fabean opened #31 "This is great!"
Sorry, I know this isn't a real issue but this is great. Thanks so much for you work, I like this more than other choices out there.

[2018-08-08 18:33] haskellcamargo commented on #31
This makes the things a bit less terrible at all :smile:, and encourages me to keep working. Thanks!

[2018-08-08 18:40] haskellcamargo commented on #4
@Garethp that probably happens because Slack method to get users truncates at 500, and we are still not loading the missing ones. We still need to handle the case when there are "more users to fetch" when loading the users (and also allow to send DMs for unlisted users and groups).

[2018-08-08 20:24] peschkaj opened #33 "readline support in chat box"
It would be nice if there was readline support in the chat box to provide convenient navigation/editing capabilities while using sclack.

[2018-08-08 20:39] arthurhenrique opened #34 "Support to navigate like in Vi using [hjkl]"
A vi way to navigate through the sclack:

 - `h`: go to the sidebar
 - `j`:  _already supported_ #22
 - `k`: _already supported_ #22
 - `l`:  go to the chat message

[2018-08-08 20:45] haskellcamargo commented on #34
Currently, `esc` goes to sidebar and `c` to the chat message, but I like the idea.

[2018-08-08 20:49] haskellcamargo commented on #17
@jared-w you can add the section `"colors": 16` to your `~/.sclack` file.
![2018-08-08-174857_1362x767_scrot](https://user-images.githubusercontent.com/7553006/43863526-5c4f8e26-9b33-11e8-88cb-4e1e11d3a236.png)

[2018-08-09 00:24] obra opened #36 "It'd be really nice to have 'autohide' for channels and users like the official client"
We have a lot of users and channels who don't really see much use. they tend to clutter up the sidebar. It'd be great if there were a way to hide things without active content and which I haven't pineed.

[2018-08-09 00:51] haskellcamargo commented on #33
Implement [urwid_readline](https://github.com/rr-/urwid_readline) thanks to @rr-

[2018-08-09 00:58] haskellcamargo commented on #36
Seems good to me and it is easy to implement!

[2018-08-09 01:16] ToxicBakery opened #37 "Double selecting a workspace causes duplicate channels"
When double tapping a workspace number, or triple tapping just to be sure, the client appears to double and triple up on the channel names which can lead to exceptions being thrown.

![screenshot from 2018-08-08 21-15-38](https://user-images.githubusercontent.com/1614281/43872561-399ff344-9b50-11e8-891a-36b9ca9b1c79.png)

[2018-08-09 01:19] ToxicBakery opened #38 "Ubuntu 18.04 - Yank hotkey crashes"
The Yank hotkey 'y' causes a crash without installing extra.

![screenshot from 2018-08-08 21-19-40](https://user-images.githubusercontent.com/1614281/43872672-c86cffe0-9b50-11e8-8496-a822bf31a45e.png)

[2018-08-09 03:13] arthurhenrique commented on #33
This is amazing.

[2018-08-09 03:49] #33 closed

[2018-08-09 04:20] duynguyenhoang opened #41 "Find and link channel names and usernames while sending message"
Now when we send a message with people mention (@someone) or channel (#somechannel) there is no mention or link.

[2018-08-09 05:04] #41 closed

[2018-08-09 05:05] #34 closed

[2018-08-09 08:46] Garethp commented on #4
So, like I said in the PR, for me it wasn't the case (The whole organization has less than 30 people), but rather users that had previously been banned. They get filtered out when the users are populated, but for some reason the "XYZ has joined the Channel" was being fetched by the API even though it wasn't displayed by the Slack Client. Since it was referring to a banned user, and banned users ge

[2018-08-09 09:05] duynguyenhoang opened #43 "Support notification"
Hi @haskellcamargo, it would be nice to have the notification.

I am working on it to support notification, the first version will be supported for MacOS only.

[2018-08-09 11:53] LukyVj opened #44 "Cannot see all users"
Hello, it's me again!

So as you may understand from the title, I'm working in a big-ush company with 200+ employees, and from the sidebar, on the direct messages part, I can only see like 15 people, and I'm unable to scroll nor to move the cursor further down, which disallow me to find other users.

[2018-08-09 12:03] haskellcamargo commented on #43
Cool! For Linux, after your PR, we can be working with an integration with `libnotify` (for Windows I still have no idea, by the way). Thank you for your effort!

[2018-08-09 16:08] duynguyenhoang commented on #44
@LukyVj  please take a look at this PR https://github.com/haskellcamargo/sclack/pull/45

[2018-08-09 16:27] haskellcamargo commented on #44
I'm also working on the quick switcher (<kbd>ctrl k</kbd>) in order to allow to pick any user/channel to chat.

[2018-08-09 18:49] duynguyenhoang opened #46 "Cannot use hotkey to navigate after go to empty channel"
When we try to access to the channel which does not have any message, we can not use hotkey at all.

[2018-08-09 19:09] #46 closed

[2018-08-09 22:12] pshirshov opened #48 "Homebrew formula?"
Hi, it would be great to have this available in homebrew main tree or as a tap.

[2018-08-10 02:41] haskellcamargo commented on #44
Maybe this helps: #49

[2018-08-10 02:41] #31 closed

[2018-08-10 02:57] niltonvasques commented on #21
Same for me but with a different message:

![image](https://user-images.githubusercontent.com/2291529/43936666-f2b7ae50-9c2f-11e8-95d6-d97439000266.png)

[2018-08-10 03:03] duynguyenhoang opened #50 "Show list of people or channel when start mention with @ or #"

[2018-08-10 05:10] duynguyenhoang opened #51 "Enter on chat box text and go to link if it is available"
If your chat box contains a message like `Hey, check out this https://github.com/haskellcamargo/sclack`
When you move to this message, enter key is pressed and the link should be open in browser

[2018-08-10 07:13] tuandm opened #53 "Up/Down key to switch between chatbox and message panel"
It would be convenient if we can easily switch between chatbox and message panel
1. Pressing "Up" in chatbox will move cursor to message pane at the last message
2. Pressing "Down" from last message of message panel will move cursor to chatbox at the last char (insert mode)

[2018-08-10 11:48] #51 closed

[2018-08-10 13:09] haskellcamargo commented on #53
Now implemented in the last version on `master`. Thank you for your feedback!

[2018-08-10 13:09] #53 closed

[2018-08-10 13:11] tuandm commented on #53
@haskellcamargo Thanks for the quick action. I'm going to add some code, but you was so fast :).

[2018-08-10 15:53] behconsci commented on #21
slack has different api now, they say, we should generate the token in workspace apps. I created their new app and i dont know what token I should use. there are many different ones

[2018-08-10 15:58] behconsci commented on #21
for me also not working. same message.

[2018-08-10 16:01] behconsci commented on #21
I will try to create better messages in a new pr

[2018-08-10 16:10] behconsci commented on #21
ok it says, we need to give these scopes:

![image](https://user-images.githubusercontent.com/10358323/43968860-a587ad12-9cc8-11e8-891b-5612a50f4a5a.png)

[2018-08-10 16:13] behconsci commented on #21
I will make a PR for this with better error messages

[2018-08-10 17:33] asm opened #55 "Support for xoxs tokens (or something other than legacy tokens)"
First off, thanks so much for building this awesome app!

Not all workspaces allow legacy tokens (xoxp).  Would it be possible to add support for newer API tokens (xoxs) or the oauth flow?  xoxs tokens are relatively easy to grab, just load up Slack in a browser, log in, open up the dev console and search for "xoxs" (you may need to reload to see it).  It should show up in a boot config section fo

[2018-08-11 11:23] duynguyenhoang opened #57 "Support uploaded images"
Render and show image link when message containes images. We should handle `files` in message format is defined below.

[code]

[2018-08-13 12:59] #57 closed

[2018-08-13 16:02] reisraff commented on #55
:+1: for oauth flow !

[2018-08-13 22:15] block8437 opened #62 "Don't receive new messages until I reopen a window"
Hey,

I noticed that when if I have a chat window open, I won't receive any new messages in that chat until I reopen the chat (by going to the sidebar and using enter the same chat window). I'm on the latest from master (at the time of writing, `326ad0385104c34207ff73bdd88dea416790a303`)

[2018-08-13 22:18] block8437 commented on #62
This includes messages that I send, they won't appear in the chat logs until I refresh the chat.

[2018-08-14 01:06] zutton opened #63 "Add to the Arch User Repository"
Would be wonderful to have on the AUR.

[2018-08-14 05:14] infinite-Joy9l commented on #43
@duynguyenhoang whats the update on this? In case you need help please let me know.

[2018-08-14 14:07] haskellcamargo commented on #43
@duynguyenhoang I've just invited you to have write access to this repository. I'm very grateful for the work you are doing on this. Thank you!

[2018-08-15 02:52] tuandm opened #66 "Private chat - show number of unread messages next to user name"
It would be nice if we can see number of unread messages for private chat - it helps to know if there are new messages coming

[2018-08-15 04:06] infinite-Joy9l commented on #43
@duynguyenhoang do you know a good way to test this. I am facing issues where the conversations are not updating as well and hence not sure if the notifications are working or not.

[2018-08-15 04:18] duynguyenhoang commented on #43
@infinite-Joy9l I am able to receive new messages, Could you please try it again?

Seem the problem with receiving new messages only occur in some cases. I am going to check it as soon as possible.

[2018-08-15 04:25] duynguyenhoang opened #67 "Suport group chat"
Beside DM/Channel, Slack now supports group chat.

[2018-08-15 04:30] duynguyenhoang opened #68 "Add exception to log file"
In order to improve problem investigation, we should have log file.

[2018-08-15 05:41] tuandm opened #69 "rtm keeps connection while switching workspace"
When user switches workspace, rtm is still connecting which causes some issues related to binding message_box/channel.

[2018-08-15 06:01] tuandm opened #71 "Default channel for workspace"
For now, sclack goes to first channel which usually is not a most activated/important channel. It would be nice if we can configure this. Therefore, workspace configuration could be change to object to be more flexible and easy to extend.

If this configuration is not found, [#general](https://get.slack.help/hc/en-us/articles/220105027-The-general-channel) channel should be picked.

[2018-08-15 10:39] duynguyenhoang opened #72 "Add auto_reconnect param to rtm_connect"
Slack client supports the ability to reconnect to rtm in case the connection was lost, according to https://github.com/slackapi/python-slackclient/blob/master/docs-src/real_time_messaging.rst#rtmstart-vs-rtmconnect

[2018-08-15 10:42] duynguyenhoang commented on #62
Hi @block8437 Do you see any error message on the chat screen? Or any more detail to help us investigate the problem.

[2018-08-15 11:39] #72 closed

[2018-08-15 15:17] coryshaw1 commented on #21
Also having issues on startup:

[code]

[2018-08-15 15:33] coryshaw1 commented on #21
Was able to output the response from the Slack API:

`{'ok': False, 'error': 'not_allowed_token_type', ...}`

I'm using tokens generated here: https://api.slack.com/custom-integrations/legacy-tokens

And my .sclack file looks like:

[code]

Do some Slack workspaces have the ability to disable legacy tokens?

[2018-08-15 15:36] behconsci commented on #21
you need to create apps then you get the tokens

On Wed, Aug 15, 2018 at 5:34 PM Cory Shaw <notifications@github.com> wrote:

[2018-08-15 16:48] #69 closed

[2018-08-15 16:58] block8437 commented on #62
@duynguyenhoang my apologies for the vague description of the issue. Unfortunately there are no error messages that I could see in the error screen. It simply doesn't display new messages in the chat window. For example, if I send the slackbot something, I won't see my message or it's reply. If I then go to the side bar and click enter on slackbot again, it will refresh with my message and it's re

[2018-08-15 17:32] scrotty opened #77 "Edit message with 'e' does not work"
Sclack V1.0

On both Mac and Linux machines, attempting to edit a message does nothing.

[2018-08-15 20:27] #37 closed

[2018-08-15 22:27] block8437 commented on #62
I pulled from master and I no longer have this issue, so I'm going to close this for now.

[2018-08-15 22:27] #62 closed

[2018-08-16 01:30] duynguyenhoang commented on #66
Fixed jn https://github.com/haskellcamargo/sclack/pull/75

[2018-08-16 03:30] tuandm commented on #77
System doesn't allow to edit messages after sending 5 mins.

[2018-08-16 03:58] duynguyenhoang opened #78 "Support setSnooze"
It would be nice to have this feature.

Snooze indicator had been done in https://github.com/haskellcamargo/sclack/pull/60

Prefer to https://api.slack.com/methods/dnd.setSnooze

[2018-08-16 13:40] scrotty commented on #77
Ah, that's it. Tsanks!

[2018-08-16 13:40] #77 closed

[2018-08-17 02:42] #66 closed

[2018-08-17 02:44] duynguyenhoang commented on #20
Hi @haskellcamargo, I am working on it now, look it is working correctly. I am optimizing performance to prevent sending the unnecessary requests

[2018-08-17 02:49] duynguyenhoang commented on #44
Hi @LukyVj Could you please check master branch again whether we can close this issue?

[2018-08-17 10:28] LukyVj commented on #44
All good :)

[2018-08-17 11:08] #44 closed

[2018-08-17 11:09] duynguyenhoang commented on #44
Fixed in https://github.com/haskellcamargo/sclack/pull/49 and https://github.com/haskellcamargo/sclack/pull/45

[2018-08-23 13:20] im-n1 opened #80 "Image support in general"
There is a project called [ranger](https://github.com/ranger/ranger) which has image support.

from readme:

Hope it will help you to implement image views.

[2018-08-24 03:18] dr1s opened #81 "Mark messages in channel as read"
We have a busy Slack workspace sometimes multiple hundred messages accumulate in the matter of hours.
Is it possible to mark all messages in a certain channel as read?

[2018-08-24 03:21] #81 closed, assigned to nobody

[2018-08-24 06:49] grafa commented on #80
Here is an example:

![image](https://user-images.githubusercontent.com/198654/44569429-9c019c00-a77a-11e8-8584-6491ffe0ffcb.png)

[2018-08-28 03:45] #20 closed

[2018-08-28 13:04] duynguyenhoang opened #84 "Show starred list on top in side bar"
Just like Slack Native app, we have list of starred items on top in side bar

[2018-08-29 15:08] #78 closed

[2018-08-30 03:58] duynguyenhoang commented on #84
Fixed in https://github.com/haskellcamargo/sclack/pull/85

[2018-08-30 03:58] #84 closed

[2018-08-30 04:27] duynguyenhoang opened #86 "Lacking information when showing attachement"
Improve attachment information

[2018-09-03 13:01] #86 closed

[2018-09-03 14:26] undernewmanagement opened #89 "Docker support"
I've got a branch on a fork where I've wrapped things up in a Dockerfile.

https://github.com/undernewmanagement/sclack/commit/101ce775e229a1d959010dcdba482dc350d9a6f5

Currently it only installs the non-development version of requirements.txt

With blessing of admin and community I'm happy to submit pull request for review.

[2018-09-05 16:49] ginsterbusch opened #91 "Compilation fails (Linux)"
Hi there,

thought I'd give this nifty looking piece of software a try .. but compilation fails.
As I'm not a crack in python, I don't know exactly what went wrong.
Whenever I try running app.py (permissions set correctly), it fails with the following backtrace error message:
[code]

Environment:
- OS: Linux Mint 17.3 LTS (Ubuntu LTS support enabled)
- Platform: x86_64
- Python: 3.4

[2018-09-05 17:10] duynguyenhoang commented on #91
Hi,

Have you run `pip3 install -r requirements.txt` before?

More detail at https://github.com/haskellcamargo/sclack#from-source

[2018-09-05 18:02] ginsterbusch commented on #91
Yep. I even went that far and installed the development requirements as well - to no afail. Still getting this error.

cu, w0lf.

[2018-09-05 18:07] duynguyenhoang commented on #91
Could you please try to remove Mint (Ubuntu) python-urllib3 and install new urllib3, you can follow below command

[code]

[2018-09-05 18:18] ginsterbusch commented on #91
@duynguyenhoang Nope, that would lead to deinstalling of a lot of other libraries (including pip!), which probably is going to break some other programs, which then would lead to destabilize my main working environment.

Screenshot: http://gfx.fwwd.de/screenshots/synaptic_remove_urllib3.png

Thus I'd suggest adding **ANOTHER requirement** to the Readme / Docs: urllib3 of version x or higher ;)

Gu

[2018-09-06 04:01] ginsterbusch commented on #91
@duynguyenhoang that would be quite awesome :)

cu, w0lf.

[2018-09-06 05:09] ToxicBakery commented on #91
Using ubuntu 18.04 the requirements install fine with python3/pip3 installed.

[2018-09-06 13:10] yuriploc opened #92 "Error while loading team"
Hi there,

Sometimes I see this error when loading a team. I saw it two times, but couldn't find the way to repeat it constantly and didn't see any error log to see more info.

* Fedora 27 4.17.17-100.fc27.x86_64
* Python 3.6.6 [GCC 7.3.1 20180303 (Red Hat 7.3.1-5)]
* Terminator

_Edit:_ after a while, it loads normally.

![screenshot_2018-09-06_09-58-14](https://user-images.githubusercontent.com/

[2018-09-10 02:43] duynguyenhoang commented on #91
@ginsterbusch ,

I have tried to instal Mint17.3, and everything works fine.

Could you try to install requrement with `--user`?
``` pip3 install -r requirements.txt  --user```

Here is my Mint version: https://i.imgur.com/ofYh6Vb.png

[2018-09-10 03:54] ginsterbusch commented on #91
Hi, my Mint version is 14.04.5, but that should make no difference.
pip3 says, that all requirements are already met.

After a bit of reading up, I tried this one instead:

`pip3 install -r requirements.txt --user --ignore-installed`

And behold! Now it works! :)
I'd strongly suggest adding this info to the source compilation data :)

cu, w0lf.

[2018-09-10 03:54] #91 closed

[2018-09-10 12:09] #92 closed

[2018-09-10 13:08] yuriploc opened #95 "selected_workspace is not defined"
In app.py, `unhandled_input`, the variable `selected_workspace` is not defined and the chatbox crashes when changing workspaces.

[2018-09-10 13:39] #95 closed

[2018-09-17 21:32] tinder-jonathanwilner opened #98 "Emoji rendering sporadically/not at all"
I'm using sclack on Mac OS X High Sierra. I'm getting a strange result using any terminal app - most emoji are represented by ? instead of the emoji - but not all !  It doesn't change by terminal emulator or by choice of a different font.

Screenshot attached:
<img width="1406" alt="screen shot 2018-09-17 at 2 24 35 pm" src="https://user-images.githubusercontent.com/32852448/45651237-abc48580-ba85

[2018-09-18 02:01] dr1s opened #99 "Sclack doesnt show underscores"
When writing something with an underscore in it eg. `test_test` it becomes `testtest` in my terminal window.

[2018-09-19 02:20] vieiralucas opened #100 "This is fucking awesome"
🎉

[2018-09-19 02:20] #100 closed, assigned to nobody

[2018-10-06 22:57] frodeaa opened #102 "support using terminal background as chatbox background"
I have tried to create a theme where the chatbox background is
«empty», i.e don’t apply any color, use the color set by the terminal

this seems to be impossible as there are components that has fallback
color ‘h235’ and that the default theme is used when no color is defined
by a theme

[2018-10-18 14:37] maurelian opened #103 "something went wrong: 'channel'"
The app loads succesfully, the channels list appears in the sidebar, and the loading message persists.
Then I open the quick switcher and this message appears behind it:

[code]

[2018-11-01 14:00] thornjad commented on #55
This is currently possible via some gymnastics by creating a new Slack App. I couldn't make the "grab it from the dev console" method work for any of my slack servers.

[2018-11-12 12:51] duraki commented on #48
Yes, please! @haskellcamargo

[2018-11-20 13:37] dmmat opened #105 "Message Replies"
view replies thread
![image](https://user-images.githubusercontent.com/7528598/48777032-286c1e00-ecda-11e8-8749-0793d4f2dba3.png)

[2018-11-27 17:42] n1-cz commented on #80
Im kinda curious so I have advanced a bit. I'm in touch with lead Ranger developer and I asked him for help. This is what he replied:

[code]

I guea we can try to give it a chance. Hm? ;)

[2018-12-20 19:54] alexfornuto commented on #105
The functionality to read threads would definitely make this a potential solution for me.

[2018-12-21 23:10] yamachaaan commented on #103
I am having the same problem.

The same error occurs when selecting a channel from the sidebar,
but jumping from `ctrl + k` to the channel will display correctly.

[2019-01-24 02:20] benyanke opened #106 "Snap Package"
Are there any current plans for a snap package?

[2019-02-06 13:23] teamgroove opened #107 "brew install libcaca --with-imlib2 -> invalid option: --with-imlib2"
Command:
brew install libcaca --with-imlib2

Output:
Error: invalid option: --with-imlib2

[2019-02-12 12:56] Huge commented on #89
Isn't CMD/ENTRYPOINT missing there?

[2019-02-12 21:22] dill0wn opened #108 "Shared Channels Break Everything"
Repro steps:

Join a workspace that has at least one shared channel.

<img width="1218" alt="screen shot 2019-02-12 at 4 19 17 pm" src="https://user-images.githubusercontent.com/1267330/52668610-ff76b600-2ee1-11e9-813d-1b2f042c728b.png">
<img width="1667" alt="screen shot 2019-02-12 at 4 21 50 pm" src="https://user-images.githubusercontent.com/1267330/52668733-554b5e00-2ee2-11e9-95f5-75d1180caa39.

[2019-02-12 22:22] dill0wn commented on #108
#109

[2019-02-12 22:23] dill0wn commented on #108
submitted pull request #109

[2019-02-12 22:24] dill0wn opened #110 "Shared channels only show half the conversation"
If you're in a shared channel, only the side of the conversation coming from users in your current workspace get displayed.

[2019-02-14 14:59] pelomedusa opened #111 "Stuck at loading screen and HTTPSConnectionPool error"
Hello,
On a fresh install, i added my legacy token, however the app is stuck at the loading screen and the "Everything is terrible" freezes.
After a while, i get a timeout, see image below. Any idea why this happens?

Thanks

![sclack](https://user-images.githubusercontent.com/15833842/52795138-72fafd80-3071-11e9-8341-641bee897e11.png)

[2019-02-14 15:09] pelomedusa commented on #111
Fixed by killing the official app running in the background.

[2019-02-14 15:09] #111 closed

[2019-02-15 11:03] duynguyenhoang commented on #108
Fixed in https://github.com/haskellcamargo/sclack/pull/109

[2019-02-15 11:03] #108 closed

[2019-02-19 19:52] cgagnon-nygc opened #112 "Unread count does not refresh"
I know this was handled in a few other issues but all the other ones seemed resolved.
I just installed sclack and it worked out of box as advertised. The one issue I have is the unread count seem to only be updating when I quick and re-enter the app. Or if I switch from one workspace to another.

Is there a key sequence to force a refresh? Or a way to setup an auto-refresh?

[2019-02-25 20:33] chadkouse opened #113 "ERROR:root:RTM connection failed, reached max connects"
When I first open sclack it is fairly unresponsive (eventually my keypresses are registered, but there are long delays, sometimes 20+ seconds)  and sometimes I see the error mentioned in the title.  Also I've noticed that although I can send messages to a channel or DM and they go through, I don't see them and don't see any replies coming from the receiver unless i switch channels and come back.

[2019-02-28 22:04] philskents commented on #113
I too see this same error.

[2019-03-01 11:49] Julioevm commented on #113
Having the exact same issue, ubuntu 18.04

[2019-03-01 13:45] philskents commented on #113
I have found the problem and a workaround. The issue is with the current version of the websocket-client library and the slack API. Downgrading that library fixed the issue for me.

`pip3 install websocket-client==0.47.0`

I will submit a PR to address this in the requirements.txt

[2019-04-03 04:00] mogita commented on #107
Same here.
Same command, same output.

brew --version
Homebrew 2.0.6
Homebrew/homebrew-core (git revision fb006; last commit 2019-04-02)

OS X 10.14.4

[2019-04-03 08:37] teamgroove commented on #107
Brew must have changend the options syntax. In earlier brew versions it
worked.
I just couldn`t find the right syntax in the help or docs.
Maybe you have more luck?!

Am Mi., 3. Apr. 2019, 06:00 hat Yun Wang <notifications@github.com>
geschrieben:

[2019-04-08 08:57] MrGKanev commented on #113
@philskents strangely I still have the issue but I'm on websocket-client==0.47.0. (MacOS Mojave)

[2019-04-08 21:15] SteveMcGrath commented on #105
We use threads heavily with my org.  This would make sclack pretty much my primary slack interface.

[2019-04-09 09:12] MrZeroo00 commented on #105
Same here. This is definitely a must have feature to make Sclack my primary Slack interface.

[2019-04-09 15:12] alexfornuto commented on #105
So that everyone who's contributed on this issue doesn't get notifications for every additional +1, can we stick to using the actual :+1: buttons on the issue?

[2019-04-25 15:12] EugeneKallis commented on #103
I recently got this issue. It's my first time setting it up. At first, it said groups and i thought i installed something wrong but now it says channels and nothing loads. Sidebar is a bunch of squares. Is this project still being worked on?

[2019-04-28 17:59] Aylr opened #117 "Optional storage of config.json in user home directory"
# Proposal

Given that a user has a config in `~/.sclack/config.json`
When the user runs `sclack` from any directory
Then sclack should try to load the config file from `~/.sclack/config.json` first. If that file does not exist sclack will default to loading config from the current working directory.

[2019-04-28 22:22] #117 closed

[2019-05-01 17:52] jmoses opened #119 "Multi-line support would be nice"
Like for code blocks, or just multi-line items being pasted. Right now the newlines trigger a post

[2019-05-09 00:02] Cj-bc commented on #117
Hello, I'm wondering why this issue was closed.
I think that's a good idea, that problem causes it difficult to make homebrew formula because we need `config.json` on pwd.
Perhaps did you find any way to solve this or something?
thanks

[2019-06-20 13:03] andys8 commented on #103
I can confirm this issue.
![image](https://user-images.githubusercontent.com/13085980/59851299-9100a380-936c-11e9-8cac-c6e0b4c7c78a.png)

[2019-07-18 18:33] mwcm commented on #107
getting invalid option here too, not sure how to resolve this

[2019-08-12 07:34] brylie opened #122 "No releases?"
The README says to get a binary file from the "Releases" page, but there don't seem to be any releases available. Please update the README, or add a release.

[2019-08-12 15:41] ErykLoom opened #123 "Missing icons on MacOS"
When using iTerm 2 there are only question marks instead of icons

[2019-08-27 15:11] johangu commented on #107
Very much a hacky workaround, but it worked for me. It seems that the `--with-imlib2` options was removed in the latest version of the formula, so I looked up what it looked like in the previous version and found this part
[code]
I ran `brew edit libcaca` and added that above the `head do` part (minus `depends_on 'pkg-config' => :build` as that's already in the formula), saved it and then `brew in

[2019-08-29 13:37] pmacg opened #125 "Thread Support"
It appears that sclack doesn't provide any support for slack threads (either viewing or responding on them.

I'd love to see them implemented if possible.

[2019-08-29 18:07] pmacg commented on #125
I'm going to give this a go myself.

[2019-08-30 16:05] #125 closed

[2019-08-30 16:05] pmacg commented on #125
Duplicate of #105

[2019-08-30 16:07] pmacg commented on #105
I've given this a go in PR #126. Feedback in the PR welcome.

[2019-09-05 17:40] fpgamcu commented on #123
@ErykLoom please look here for the solution https://github.com/haskellcamargo/sclack#nerd-fonts

[2019-09-07 20:20] fabius85 opened #127 "Custom themes"
I'm worndering if there's any way to create a custom theme other than editing `themes.py`. If not, then please consider adding such a feature.

[2019-09-12 14:55] distefam opened #128 "Support/instructions for Pipx install"
I use [pipx](https://pipxproject.github.io/pipx/) to manage Python executables on my system and would like to use it to install Sclack. I tried running the following command in Pipx:
`pipx install --include-deps --spec git+https://github.com/haskellcamargo/sclack.git sclack` which seemed to have worked, however, it installed Sclack as a binary in my path `~/.local/bin` named `app.py` rather than `

[2019-09-25 01:16] misuchiru03 commented on #122
I second adding a release.

[2019-11-24 22:52] Qu4tro opened #130 "Non-standard config location"
Hello there,

It would be great for sclack to use the standard XDG directories to save data. In this case `~/.sclack` could be in `$XDG_CONFIG_HOME/sclack` normally `~/.config/sclack`.

Would this be something you're willing to discuss?

[2020-01-13 23:22] jenn-remesh commented on #122
Seriously

[2020-01-30 15:34] felamaslen opened #134 "Emoji reactions"
Emoji reactions from other users are displayed properly, however there doesn't seem to be a way to react to a message with an emoji, as is possible in the Slack web app.

[2020-03-20 19:57] #17 closed

[2020-04-02 09:42] AS-adci commented on #122
Could you add new release, please?
I want to install it on Debian.
Thank you for your work.

[2020-04-19 00:18] jtagcat commented on #106
Snap or flatpak would essentially remove the need for normal releases.

[2020-05-06 13:05] billymoon commented on #89
I couldn't find any Dockerfile in this repo, and the fork linked in this ticket is giving me a 404. For my own use, I made one up...

[code]

and build it

[code]

and pushed it

[code]

and now I store a config in my host machine's ssh folder which I think is a fairly safe place to keep secrets, and I use this command to fire up sclack

[code]

It works great, so just thought I would share on thi

[2020-08-20 21:06] Harwood commented on #107
https://formulae.brew.sh/formula/libcaca

`libcaca` now includes `imlib2 1.7.0` as a dependency without a flag.

[2020-08-25 17:47] Lakshamana opened #135 "Sclack won't work at bootstrap"
Hello, I'm trying to run Sclack on a Python 3.x env and it just breaks on app init
![image](https://user-images.githubusercontent.com/29443505/91208733-07bbce00-e6e1-11ea-8208-dbe0a6e05037.png)

Software setup:
Python
[code]
Pip
[code]
OS
[code]
Some stack tracing:
[code]

I've already tried using `sudo`, but it doesn't work as well. Do you need something else?

[2020-08-26 15:55] Lakshamana commented on #135
I closed but, hold up! Maybe `mpim.list` doesn't exist anymore. Maybe you shoud use another API endpoint. Notice I don't know at all about Slack API, so I must be speaking some sillyness... Anyway, that's my analysis since I couldn't add `mpim.list` to user scopes

[2020-08-26 22:06] tmferretti commented on #135
I also am running into this issue

[2020-08-26 22:08] tmferretti commented on #135
[code]

[2020-09-04 15:58] schellj commented on #135
I'm also running into the exact same issue.

[code]

[2020-09-04 17:12] schellj commented on #135
FYI, I created a PR to fix this issue (#136).

[2020-09-23 09:49] theabhinavdas commented on #123
@ErykLoom use the specific Nerd Font provided in the README. Also note that though it's called the FiraCode Nerd Font, it installs on MacOS as **FuraCode Nerd Font**. So if you have the original FiraCode font, and mistakenly choose it, it will not work.

[2020-09-23 14:50] d0c-s4vage commented on #12
You might want to checkout tiv https://github.com/stefanhaustein/TerminalImageViewer. I think its output looks better than imgcat's

[2020-10-18 02:07] FIGBERT commented on #128
Seems like this would be fixed by #115 – what's the status on that?

[2020-10-29 18:54] JPTIZ commented on #135
For me, Sclack still won't work. There's still probably references to an old slack API (see images below). Everytime I run, the error changes, but it is always related to those dictionary keys.

![image](https://user-images.githubusercontent.com/11988816/97619424-f6ec4900-19fe-11eb-9323-6f39b37b87ab.png)
![image](https://user-images.githubusercontent.com/11988816/97619507-0f5c6380-19ff-11eb-93d4-5

[2021-04-07 14:39] DrGrognon commented on #135
I got the exact same as @JPTIZ   (except from background dog :stuck_out_tongue_closed_eyes: )
Fresh install from repo today.
[code]
Hope you can fix, screenshots look awesome :cry:

[2021-05-06 16:53] duynguyenhoang commented on #135
@JPTIZ  @DrGrognon can you please pull master and check it again?

[2021-05-06 16:55] #123 closed

[2021-05-07 04:22] JPTIZ commented on #135
Just tried (`cd <my sclack clone>`, `git checkout master`, `git pull`) and still got this:

![image](https://user-images.githubusercontent.com/11988816/117397436-856fe480-aed2-11eb-9b4a-3a6b00b0048d.png)

Just to confirm, the git log output:

[code]

[2021-05-07 04:23] JPTIZ commented on #135
For more information:

[code]

[2021-07-02 05:39] y5158 opened #144 "Problem with 'scope' in token generation method provided in readme file."
Hi,
https://slack.com/oauth/authorize?client_id=[Client ID here]&scope=client
Here scope 'client' is deprecated. Any workaround?

[2021-07-14 06:46] mark2185 opened #145 "ConnectionError upon starting app.py"
I'm on MacOS with python 3.9 in a `venv`, I followed the instructions, installed `sclack` with `./setup.py install` (which was missing from the docs) and followed all the steps with the tokens.

I manage to start `app.py` and it loads up slack and shows the messages for the currently selected channel, but then after a second I get this (I can't select the text for some reason) and I have no other

[2021-07-14 07:48] mark2185 commented on #145
By putting the relevant lines (`app.py:693..701`) into a `try-except` the exception is caught and it works, but that's a hack, not a solution.

[2021-08-12 20:55] ghost opened #146 "No module named 'sclack'"
I followed the build instrucitons and used the pip3 install, but when I launch app.py, I get this

[code]

Here is the output from the install:

[code]

Im running this on Centos 8 fully updated

Any ideas?

Thanks!
Joe

[2021-08-12 21:25] ghost commented on #146
I also tried installing the requirements in my home dir

[code]

Still same error

[2021-08-19 10:06] mrhn commented on #146
I'm sitting here with the same issue, on newest version of the app.

[2021-08-19 10:14] mrhn commented on #146
Had success rolling back 1 commit, but my app is crashing on python3.8

[2021-09-07 11:18] portothree commented on #146
Same issue, had to revert https://github.com/haskellcamargo/sclack/commit/da75272eeef01e0ddfcbeaebd11d056a6be5e3df to work again

[2021-10-04 19:39] edanaher commented on #146
Not sure why this is defective, but a workaround is to `export PYTHONPATH=.`, then run `sclack/app.py` from the top-level directory.

However, I'm getting a variety of fun errors that look like sclack isn't keeping up with the slack API, so...

[2021-10-04 21:06] portothree commented on #146
@edanaher It's actually related to the session tokens from slack not being supported anymore https://github.com/wee-slack/wee-slack/issues/844#issuecomment-874955976